.appointmentCard {
    background-color: white;
    max-width: 500px;
    border-radius: 3px;
    box-shadow: 0px 1px 2px grey;
    padding: 15px 20px;
    word-wrap: break-word;
    margin-bottom: 20px;
}

.appointmentLabel {
    font-weight: bold;
    margin: 0;
}

.appointmentValue {
    color: rgb(70, 69, 69);
    margin: 7px 0 0 0;
}

.appointmentField {
    margin-bottom: 20px;
}

.appointmentField:nth-child() {
    margin-bottom: 0px;
}