.headerContainer {
    padding: 10px 100px;
    font-size: 30px;
    border-color: grey;
    z-index: 10;
    box-shadow: -1px 1px 10px 1px grey;
    position: sticky;
    width: 100vw;
    font-weight: 600;
    color: white;
    background-color: var(--primaryBlue);
}